*.log
*.jpg
*.json
coco2017/
icdar/
pothole/
*.txt
*.png
cocosubset/
testtrainingcodes.ipynb
cocosubset.zip
pothole.zip
yolov5testtrain/
cocosubsetbackup/
# Ignore all .txt files
*.txt

# Ignore .txt files inside icdar2015
icdar2015/*.txt

# Allow requirements.txt (override the ignore rule)
!requirements.txt